@charset "ISO-8859-1";

body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 20px;
}

.main_container {
	max-width: 800px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	color: #333;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
}

th,
td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #f8f8f8;
}

a img {
	vertical-align: middle;
}

a:hover img {
	opacity: 0.8;
}

h3 {
	text-align: center;
	color: #888;
}

.pagination_section {
	position: absolute;
	bottom: 10px;
	right: 10px;
	display: flex;
}

.pagination_section a {
	text-decoration: none;
	color: #000;
	background-color: #f0f0f0;
	padding: 5px 10px;
	border: 1px solid #ddd;
}

.pagination_section a:hover {
	background-color: rgb(9, 93, 177);
}