@charset "ISO-8859-1";


body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-container {
    background: rgb(192, 192, 192);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding:5px;
    vertical-align: middle;
}

/* Input field styles */
input[type="text"], input[type="email"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"], input[type="reset"] {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #555;
}

#userId{
	  border:none;
	  width: 20%;
	  font-size: 15px;
	  background-color: transparent;
	 }
	 
	 